{
  "presets": [
    "es2015",
    "es2016",
    "es2017",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true
    }
  },
  "retainLines": true
}
